
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<style>
    .show {
        display: block;
    }

    .hide {
        display: none;
    }
</style>
<div class="container form-horizontal mt-5">
    <div class="row">

        <div class="col-md-3 ">
            <div class="list-group ">
                <a id="Profile" href="#" class="list-group-item list-group-item-action active">Profile</a>
                <a id="Account"  href="#" class="list-group-item list-group-item-action">Account</a>
                <a id="Education"  href="#" class="list-group-item list-group-item-action">Education Details</a>
                <a id="Experience"  href="#" class="list-group-item list-group-item-action">Experience Details</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">

                @*Profile Card*@
                <div class="card-body" id="Profile_Card">

                    <div class="row">
                        <div class="col-md-12">
                            <h4>Personal Information</h4>
                            <p>This information will appear on the leaderboard or your public profile.</p>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group row">
                                    @Html.Label("First Name", htmlAttributes: new {@class = "col-4 col-form-label"})
                                    <div class="col-8 form-group">
                                        <input type="text" class="form-control" placeholder="First Name" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.Label("Last Name", htmlAttributes: new {@class = "col-4 col-form-label"})
                                    <div class="col-8 form-group">
                                        <input type="text" class="form-control" placeholder="Last Name" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.Label("Gender", htmlAttributes: new {@class = "col-4 col-form-label"})
                                    <div class="col-8 form-group">
                                        @Html.DropDownList("Gender", new List<SelectListItem>
                                        {
                                            new SelectListItem {Text = "Male", Value = "Male"},
                                            new SelectListItem {Text = "Female", Value = "Female"}
                                        }, new {@class = "form-control"})
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <button name="submit" type="submit" class="btn btn-outline-primary">Update My Profile</button>
                                        <br/> <br/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @*Account Card*@
                <div class="card-body hide" id="Account_Card">

                    <div class="row">
                        <div class="col-md-12">
                            <h4>Change Your Password</h4>
                            <p>Enter your current password along with a new one to change it.</p>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group row">
                                    @Html.Label("Current Password", htmlAttributes: new {@class = "col-4 col-form-label"})
                                    <div class="col-8 form-group">
                                        @Html.Editor("CurrentPassword", new { htmlAttributes = new { @class = "form-control here", @type = "password" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.Label("New Password", htmlAttributes: new {@class = "col-4 col-form-label"})
                                    <div class="col-8 form-group">
                                        <input type="text" class="form-control" placeholder="New Password" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.Label("Confirm Password", htmlAttributes: new { @class = "col-4 col-form-label" })
                                    <div class="col-8 form-group">
                                        <input type="text" class="form-control" placeholder="Confirm Password" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <button name="submit" type="submit" class="btn btn-outline-primary">Update My Account</button>
                                        <br/> <br/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $('#Profile').click(function (e) {

            //$("#Student_Form").delay(100).fadeIn(100);
            //$("#Teacher_Form").fadeOut(100);

            $("#Account").removeClass("active");
            $("#Account_Card").removeClass("show");
            $("#Account_Card").addClass("hide");

            $("#Profile").addClass("active");
            $("#Profile_Card").removeClass("hide");
            $("#Profile_Card").addClass("show");
            e.preventDefault();

        });

        $('#Account').click(function (e) {

            //$("#Teacher_Form").delay(100).fadeIn(100);
            //$("#Student_Form").fadeOut(100);

            $("#Profile").removeClass("active");
            $("#Profile_Card").removeClass("show");
            $("#Profile_Card").addClass("hide");

            $("#Account").addClass("active");
            $("#Account_Card").addClass("show");
            $("#Account_Card").removeClass("hide");
            e.preventDefault();
        });
    });
</script>