@model IEnumerable<Repo.UserInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("User Panel", "UserPanel") |
@Html.ActionLink("Event Panel", "EventPanel") |
@Html.ActionLink("Institution Panel", "Institution") |
@Html.ActionLink("Organization Panel", "Organization") |
@Html.ActionLink("Question Panel", "Question") |
@Html.ActionLink("Subject Panel", "Subject") |
