@model IEnumerable<Repo.Institution>

@{
    ViewBag.Title = "Institution";
}

<h2>Institution</h2>

<p>
    <form method="post">
        <input name="InstitutionName" /> <input type="submit" value="Add" />
    </form>
    <a href="InstitutionCategoryType">InstitutionCategory & Classes</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstitutionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstitutionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstitutionID })
        </td>
    </tr>
}

</table>
