@model IEnumerable<Repo.QuestionDifficulty>

@{
    ViewBag.Title = "QuestionDifficulty";
}

<h2>QuestionDifficulty</h2>

<p>
    <form method="post">
        <input name="QuestionDifficultyName" /> <input type="submit" value="Add" />
    </form>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionDifficultyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionDifficultyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionDifficultyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionDifficultyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionDifficultyID })
        </td>
    </tr>
}

</table>
