@model IEnumerable<Repo.Subject>

@{
    ViewBag.Title = "Subject";
}

<h2>Subject</h2>


    <form method="post">
        <input name="SubjectName" /> <input type="submit" value="Add" />
    </form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionCategory.InstitutionCategoryID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionCategory.InstitutionCategoryID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubjectID })
        </td>
    </tr>
}

</table>
