@model IEnumerable<Repo.AccountType>

@{
    ViewBag.Title = "Subscription";
}

<h2>Subscription</h2>

<p>
   
    <form method="post">
        <input name="AccountTypeName" /> <input type="submit" value="Add" />
        </form>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountTypeID })
        </td>
    </tr>
}

</table>
