@model IEnumerable<Repo.UserInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "NewUser") |
    @Html.ActionLink("Subscriptions Types", "Subscription") |
    @Html.ActionLink("User Types", "UserType") |
    @Html.ActionLink("Status Types", "StatusType") |

    
    @Html.ActionLink("Organizations", "Organization") |
    @Html.ActionLink("Class and Subjects", "InstitutionCategory") |

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Portfolio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalHostedEvents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalParticipants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalEventsAttended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType.AccountTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserStatu.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType.UserTypeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portfolio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfilePic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHostedEvents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalParticipants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalEventsAttended)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType.AccountTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserStatu.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType.UserTypeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { UserID = item.UserID }) |
                @Html.ActionLink("Details", "UserDetails", new { UserID = item.UserID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
            </td>
        </tr>
    }

</table>
